/* http://www.seoconsultants.com/css/menus/tutorial/ */
#menu, #menu li {
background: #ddd;
}

#menu {
width: 100%;
float: left;
}
#menu ul {
list-style: none;
margin: 0;
padding: 0;
float: left;
margin-right: 2em;
/*
border-width: 1px;
border-style: none solid solid none;
border-color: #ccc #888 #555 #bbb;
*/
}


#menu ul ul {
border-width: 1px;
border-style: solid;
border-color: #ddd;
min-width: 12em;
}
#menu li {
/*font: bold 11px/16px arial, helvetica, sans-serif;*/
display: block;
/*
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
*/
margin: 0;
padding: 2px 3px;
}

#menu li {
/*
color: #000;
background: #efefef;
text-decoration: none;
*/
}

#menu li:hover {
/*
color: white;
*/
background: white;
display: block;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
top: 0;
left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

